.close-button-x{
  position: absolute;
  top: 3px;
  right: 3px;

  &:hover{
    font-weight: bold;
  }
}

.delete-button{
  position: absolute;
  top: 3px;
  right: 5px;
  
  &:hover{
    cursor: pointer;
    font-weight: bold;
  }
}