button, .button{
  background-color: $color-brand-dark-green;
  color: $color-brand-white;
  border-radius: $border-rounded;
  border-style: solid;
  border-color: $color-brand-dark-green;

  &:hover{
    cursor: pointer;
  }

  &:active{
    background-color: $color-brand-light-green;
    border-color: $color-brand-light-green;
  }


  &.icon{
    font-family: "remixicon" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.delete {
      @extend .ri-eraser-fill;
    }
  
    &.add {
      @extend .ri-add-line;
    }
  }
}

button{
  padding: $space-button-padding;
}
