button, .button{
  background-color: $color-brand-dark-green;
  color: $color-brand-white;
  border-radius: $border-rounded;
  border-style: solid;
  border-color: $color-brand-dark-green;

  &:hover{
    cursor: pointer;
  }

  &:active{
    background-color: $color-brand-light-green;
    border-color: $color-brand-light-green;
  }
}

button{
  padding: $space-button-padding;
}
