h1{
  font-family: $font-family-primary;
  font-size: $font-size-xl;
}

h2{
  font-family: $font-family-primary;
  font-size: $font-size-lg;
}

h3{
  font-family: $font-family-primary;
  font-size: $font-size-md-2;
}

h4{
  font-family: $font-family-primary;
  font-size: $font-size-md;
}

h5{
  font-family: $font-family-primary;
  font-size: $font-size-sm-2;
}

h6{
  font-family: $font-family-primary;
  font-size: $font-size-sm;
}

