h1, h2, h3, h4, h5, h6 {
  color: $color-brand-dark-green;
  font-family: $font-family-primary;
}

h1{
  font-size: $font-size-xl;
}

h2{
  font-size: $font-size-lg;
}

h3{
  font-size: $font-size-md-2;
}

h4{
  font-size: $font-size-md;
}

h5{
  font-size: $font-size-sm-2;
}

h6{
  font-size: $font-size-sm;
}

