/*
  BedMelon Branding Colors
*/
$color-brand-dark-green:  #164A41;
$color-brand-light-green: #00B295;
$color-brand-red:         #EF2D56;
$color-brand-orange:      #D68C45;
$color-brand-white:       #EFF2F1;

/*
  Utility Colors
    -Neutral colors are shades of grey meant to
     be used for contrast and higlighting.
    -Status colors are vibrant colors meants to
     convey the status of some action to the user
*/
$color-neutral-white:     #FFF;
$color-neutral-grey-01:   #F9F9F9;
$color-neutral-grey-02:   #EEE;
$color-neutral-grey-03:   #DDD;
$color-neutral-grey-04:   #BBB;
$color-neutral-grey-05:   #808080;
$color-neutral-grey-06:   #666;
$color-neutral-grey-07:   #444;
$color-neutral-grey-08:   #131313;
$color-neutral-black:     #000;

$color-alert-info:        #0192d0;
$color-alert-error:       #B12A0B;
$color-alert-success:     #03804D;
$color-utility-warning:   #A59B15;