<div class="bad-melon form-spaced">
  <div class="form-input">
    <label for="comments">Comments</label>
    <textarea name="comments" id="comments" placeholder="Add your comments here."></textarea>
  </div>
</div>