<ul *ngIf="!showSpinner; else spinner">
  <li *ngFor="let recipe of recipes"><a [routerLink]="['recipe', recipe.id]">{{ recipe.name }}</a> 
    <i class="ri-delete-bin-fill" (click)="deleteRecipe(recipe)"></i>
    <i class="ri-pencil-fill" (click)="editRecipe(recipe)"></i>
  </li>
</ul>
<ng-template #spinner>
  <div class="spinner"></div>
</ng-template>

<div *ngIf="deleteMe !== undefined">
  <p>Are you sure you wish to delete {{deleteMe.name}}?</p>
  <button (click)="deleteRecipeConfirm(deleteMe.id ?? '')">Yes</button>
  <button (click)="clearDeleteRecipe()">No</button>
</div>