<div class="bad-melon">
  <main class="single-form">
    <h2>Example Form</h2>
    <form>
      <div class="form-group stacked">
        <div class="form-input">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" placeholder="jsmith01" />
        </div>
        <div class="form-input">
          <label for="username">Password</label>
          <input type="password" name="password" id="password" />
        </div>
        <div class="submit">
          <button type="submit" name="submit">Login</button>
        </div>
      </div>
    </form>
  </main>
  <footer>
    <ul class="regulatory">
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </footer>
</div>