<div class="bad-melon">
    <ul class="icon-grid">
        {{#each icons}}
        <li class="icon-grid__item">
            <span>{{ name }}</span>
            <i class="{{ class }}"></i>
        </li>
        {{/each}}
    </ul>
</div>