.form-group{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 15px 5px 5px 5px;
  margin-bottom: 10px;

  .form-group-title{
    position: absolute;
    top: -9px;
    left: 5px;
    background-color: $color-neutral-white;
    padding: 0 3px;
  }

  .form-input{
    flex-basis: 48%;

    &.full-width{
      flex-basis: 98%;
    }
  }

  &.stacked{
    flex-flow: column;
    align-items: center;

    .form-input{
      width: 95%;
    }
  }

  &.bordered{
    border: 1px solid $color-neutral-grey-03;
    border-radius: 5px;
  }

  @media screen and (max-width: $break-mobile) {
    flex-flow: column;
    align-items: center;

    .form-input{
      width: 95%;
    }
  }  
}

.controls{
  position: absolute;
  top: 0;
  right: 0;
}