.form-group{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 15px 5px 5px 5px;
  margin-bottom: 10px;

  .form-group-title{
    position: absolute;
    top: -9px;
    left: 5px;
    background-color: $color-neutral-white;
    padding: 0 3px;
  }

  .form-field{
    flex-basis: 48%;

    &.full-width{
      flex-basis: 98%;
    }
  }

  &.stacked{
    flex-flow: column;
    align-items: center;

    .form-field{
      width: 95%;
    }
  }

  &.bordered{
    border: 1px solid $color-neutral-grey-03;
    border-radius: 5px;
  }

  &.dynamic-list{
    flex-flow: column;
    .form-field-group {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      gap: $space-padding-sm;

      label{
        display: none;
      }

      .form-field{
        flex: 3 1 0px;
        margin-bottom: $space-padding-sm;

        &:last-child{
          flex: 1 1 0px;
          & > * {
            float: right;
          }
        }
      }
    }

    .add-item{
      text-align: center;
    }
  }

  @media screen and (max-width: $break-mobile) {
    flex-flow: column;
    align-items: center;

    .form-field{
      width: 95%;
    }
  }  
}