//
// Fonts
//
$font-size-sm:   0.75rem;
$font-size-sm-2: 0.85rem;
$font-size-md:   1rem;
$font-size-md-2: 1.2rem;
$font-size-lg:   2rem;
$font-size-xl:   3rem;
$font-size-icon: 2rem;

//
// Spacing
//
$space-text-block: 0.75rem;

//
// Media Query Breakpoints
//
$break-mobile: 480px;
$break-tablet: 768px;
$break-screen-sm: 1024px;
$break-screen-md: 1200px;
$break-screen-lg: 1201px;